.header-page-about {
    display: flex;
    justify-content: end;
    width: 100%;
}

.banner-page-about {
    width: 100%;
}

.menu {
    width: 3vw;
    margin-left: 1%;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked+.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menu-box {
    left: 0;
}

.menu-btn {
    position: fixed;
    margin-top: 3%;
    width: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
    right: 10px;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0D4B92;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    background-color: #ffffff;
    opacity: 85%;
    transition-duration: .25s;
}

.menu-list {
    display: flex;
    justify-content: end
}

.menu-item {
    display: block;
    padding: 10px 24px;
    color: #0D4B92;
    font-size: 12px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-item:hover {
    background-color: #ffffff;
}

.medal-menu {
    height: 3vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-mascot {
    height: 30vh;
    width: 30vw;
    border-radius: 5px;
    margin: 3%;
}

.about {
    text-align: start;
    font-size: 20px;
    margin: 1%;
    line-height: 2;
}

h3 {
    color: #0D4B92;
    ;
}

.footer {
    background: #e3722b;
    text-align: center;
    margin-top: 2%;
    padding: 0.25%;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .menu-box {
        padding: 30px 0;
    }
    .logo-mascot {
        height: 40vh;
        width: 50vw;
        border-radius: 8px;
        margin: 3%;
    }
    .footer {
        padding: 0.5%;
    }
}

@media screen and (min-width: 1024px) {
    .menu-box {
        padding: 35px 0;
    }
    .logo-mascot {
        height: 45vh;
        width: 50vw;
        border-radius: 10px;
        margin: 3%;
    }
    .footer {
        padding: 0.75%;
    }
}