* {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-filme {
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #123740;
  margin: 0;
  padding: 20px 0;
}

.footer-text {
  font-weight: lighter;
  text-align: center;
  font-size: 15px;
  color: #C1D9B0;
  margin: 0;
}